<!-------------------------------------------------------------------------------------------------
  - #%L                                                                                           -
  - chvote-vrum                                                                                   -
  - %%                                                                                            -
  - Copyright (C) 2016 - 2018 République et Canton de Genève                                      -
  - %%                                                                                            -
  - This program is free software: you can redistribute it and/or modify                          -
  - it under the terms of the GNU Affero General Public License as published by                   -
  - the Free Software Foundation, either version 3 of the License, or                             -
  - (at your option) any later version.                                                           -
  -                                                                                               -
  - This program is distributed in the hope that it will be useful,                               -
  - but WITHOUT ANY WARRANTY; without even the implied warranty of                                -
  - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                  -
  - GNU General Public License for more details.                                                  -
  -                                                                                               -
  - You should have received a copy of the GNU Affero General Public License                      -
  - along with this program. If not, see <http://www.gnu.org/licenses/>.                          -
  - #L%                                                                                           -
  ------------------------------------------------------------------------------------------------->

<div class="chvote-content">
  <mat-card class="search-section">
    <mat-card-header>
      <mat-card-title>{{ 'voting-cards.search.title' | translate }}</mat-card-title>
      <mat-card-subtitle>{{ 'voting-cards.search.description' | translate }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" class="no-padding">
      <div class="card-search-section">
        <form (submit)="onSubmit()"
              class="card-search-form"
              fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="2.5%" fxLayoutAlign="center center">
          <mat-form-field fxFlex="16%">
            <mat-select [value]="defaultIdentifierType"
                        (valueChange)="onIdentifierTypeSelected($event)"
                        style="margin-top: 2px;">
              <mat-option *ngFor="let identifierType of identifierTypes"
                          [value]="identifierType">
                {{ 'voting-cards.search.identifier-types.' + identifierType | translate }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="25%">
            <input matInput id="card-identifier"
                   autocomplete="off"
                   [placeholder]="'voting-cards.card-processing.search-field-placeholder' | translate"
                   [formControl]="formControl">
            <mat-error *ngIf="formControl.invalid && formControl.hasError('required')">
              {{ 'voting-cards.card-processing.error.empty-field' | translate }}
            </mat-error>
          </mat-form-field>
          <button mat-icon-button type="submit" *vrumRoles="['ROLE_SEARCH_SELECT_VOTING_CARD']">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>

      <div class="search-results" *ngIf="votingCards && votingCards.length > 0">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let countingCircle of countingCircles"
                               [expanded]="countingCircles.length === 1">
            <mat-expansion-panel-header class="search-results-expansion-header"
                                        collapsedHeight="35px" expandedHeight="35px">
              <mat-panel-title>{{ countingCircle.businessId }} - {{ countingCircle.name }}</mat-panel-title>
            </mat-expansion-panel-header>

            <div class="voting-card-container"
                 fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap
                 fxLayoutGap="2.5%" fxLayoutAlign="center"
                 *ngFor="let votingCard of getVotingCardsByCountingCircle(countingCircle)">
              <div fxFlex="15%">
                <div class="readonly-label">
                  {{ 'voting-cards.search.results.column-label.localPersonId' | translate }}
                </div>
                <div class="readonly-value">
                  {{ votingCard.localPersonId }}
                </div>
              </div>

              <div fxFlex="20%">
                <div class="readonly-label">
                  {{ 'voting-cards.search.results.column-label.voterBirthYear' | translate }}
                </div>
                <div class="readonly-value">
                  {{ votingCard.voterBirthYear }}
                </div>
              </div>

              <div fxFlex="20%">
                <div class="readonly-label">
                  {{ 'voting-cards.search.results.column-label.domainsOfInfluence' | translate }}
                </div>
                <div class="readonly-value">
                  {{ votingCard.domainOfInfluences[0].businessId }}
                </div>
              </div>

              <div fxFlex="25%">
                <div class="readonly-label">
                  {{ 'voting-cards.search.results.column-label.cardStatus' | translate }}
                </div>
                <div class="readonly-value">
                  {{ 'voting-cards.search.results.card-status.' + votingCard.votingRightStatus | translate }}
                </div>
              </div>

              <div fxFlex="10%">
                <div class="readonly-label" fxHide fxShow.gt-sm>&nbsp;</div>
                <div class="readonly-value">
                  <mat-icon color="primary">more_horiz</mat-icon>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div class="search-results search-results-error" *ngIf="votingCards && votingCards.length === 0">
        <p>{{ 'voting-cards.search.identifier-types.' + selectedIdentifierType | translate }} inconnu</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
