/*!-------------------------------------------------------------------------------------------------
 - #%L                                                                                            -
 - chvote-vrum                                                                                    -
 - %%                                                                                             -
 - Copyright (C) 2016 - 2018 République et Canton de Genève                                       -
 - %%                                                                                             -
 - This program is free software: you can redistribute it and/or modify                           -
 - it under the terms of the GNU Affero General Public License as published by                    -
 - the Free Software Foundation, either version 3 of the License, or                              -
 - (at your option) any later version.                                                            -
 -                                                                                                -
 - This program is distributed in the hope that it will be useful,                                -
 - but WITHOUT ANY WARRANTY; without even the implied warranty of                                 -
 - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the                                   -
 - GNU General Public License for more details.                                                   -
 -                                                                                                -
 - You should have received a copy of the GNU Affero General Public License                       -
 - along with this program. If not, see <http://www.gnu.org/licenses/>.                           -
 - #L%                                                                                            -
 -------------------------------------------------------------------------------------------------*/

@import '~@angular/material/theming';
@import '~@chvote/chvote-common-theme/styles/theme';

$primary: map-get($chvote-theme, primary);

.button-group {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;

  .voting-channels {
    padding-bottom: 2px;
  }

  .blocking-channel {
    margin-left: auto;
    padding-bottom: 3px;
  }
}

.title-group {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;

  .blocking-channel {
    margin-left: auto;
  }
}

.card-search-form .mat-icon-button .mat-icon.done {
  color: green;
}

.voting-card-section {
  text-align: center;

  .birth-date {
    font-size: 3.5rem;
  }

  .status {
    font-size: 1.8rem;

    &.success {
      color: green;
    }

    &.error {
      color: red;
    }

    &.not-found {
      color: mat-color($primary, default);
    }
  }

  p {
    font-weight: bold;
  }

  .domain-of-influence, .counting-circles {
    ul {
      list-style: none;
      padding: 0;
    }
  }

}
